.africa{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: #fff;
}
.africa div{
   flex: 45%;
    margin: 30px;
    
}


.africa div img{
    width: 100%;
}
.africa div p{
    line-height: 25.6px;
    font-weight: 400;
    font-size: 16px;
}
.vision{
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    
}
.vision div{
    flex: 40%;
    margin: 40px;
}
.vision div img{
    width: 100%;
}